/* Base styling */
html {
    height: 100%; /* Make sure html takes up full viewport height */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7; /* Light gray background */
    height: 100%; /* Make sure body takes up full viewport height */
    display: flex;
    flex-direction: column; /* Stack children elements vertically */
}

header {
    background-color: #004a7c; /* Darker shade for the header */
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    flex: 1; /* Flex-grow to take up all available space */
    display: flex;
    flex-direction: column; /* Stack children elements vertically */
    justify-content: flex-start; /* Align content to the top */
    padding: 20px;
    overflow: auto; /* Add scroll to the main content if needed */
}

/* Search Section */
#search-section {
    text-align: center;
    margin-bottom: 20px;
}

#city-search-form input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    width: 300px;
    max-width: 80%;
}

#city-search-form button {
    padding: 10px 20px;
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border: none;
    cursor: pointer;
}

#city-search-form button:hover {
    background-color: #0056b3; /* Darker on hover */
}

/* Weather Details */
#current-weather, #forecast {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: calc(100% - 40px);
    max-width: 600px;
    align-self: center; /* Center the blocks in the main container */
}

#current-weather h2, #forecast h2 {
    margin: 0 0 20px 0;
}

/* Forecast Days */
#forecast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.forecast-day {
    flex: 1 1 18%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
    min-width: 120px;
}

.forecast-day h4 {
    margin: 10px 0;
}

.forecast-day p {
    margin: 5px 0;
}

/* Search History */
#search-history {
    text-align: center;
}

#history-list {
    list-style: none;
    padding: 0;
}

#history-list li {
    background-color: #007bff;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
}

#history-list li:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #004a7c;
    color: white;
    position: relative; /* Footer is part of the flow and pushed to the bottom by the main content */
    width: 100%;
    box-sizing: border-box;
    margin-top: auto; /* Push the footer to the bottom */
}
